.card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  padding: 0;
  background: url(../../../images/delete-button.svg) no-repeat;
  border: none;
  cursor: pointer;
}
