.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 880px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
}

@media screen and (max-width: 960px)  {
  .page {
    max-width: calc(100vw - 80px);
  }
}
@media screen and (max-width: 512px) {
  .page {
    max-width: 282px;
  }
}
