.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 31px;
  max-width: 880px;
  width: 100%;
  /*grid-template-columns: 120px max-content 1fr;*/
  column-gap: 30px;
}
@media screen and (max-width: 960px)  {
  .profile {
    max-width: calc(100vw - 80px);
  }
}

@media screen and (max-width: 745px) {
  .profile {
    justify-content: center;
  }
}

@media screen and (max-width: 512px) {
  .profile {
    padding: 42px 0 31px;
    max-width: 282px;
  }
}
