.header {
  width: 100%;
  padding: 45px 0 36px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 512px) {
  .header {
    width: 100vw;
    padding: 28px 0 26px;
  }
}
