.profile__add-button {
  margin-left: auto;
  padding: 0;
  max-width: 150px;
  width: 100%;
  height: 50px;
  background: url("../../../images/add-button.svg") no-repeat 50%;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 745px) {
  .profile__add-button {
    margin: 23px 0 0;
    max-width: 282px;
  }
}
