.profile__name {
  margin: 0;
  max-width: 300px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 692px) {
  .profile__name {
    font-size: 34px;
  }
}

@media screen and (max-width: 512px) {
  .profile__name {
    font-size: 27px;
    max-width: 220px;
  }
}
