.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url("../../../images/close-icon.svg") no-repeat 50%/32px 32px;
  border: none;
}

@media screen and (max-width: 692px) {
  .popup__close-button {
    right: 0;
  }
}

@media screen and (max-width: 512px) {
  .popup__close-button {
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 400px) {
  .popup__close-button {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: -36px;
  }
}
